<html>
    <h1>Dashboard Home Page</h1>

    <body>
        <form>
            <welcome>{{ person }}</welcome><br><br>
            <button type="button" onclick="window.location.href='/login'">Login</button>
            <br><br>
            <button type="button" onclick="window.location.href='/create_class'">Create New Gear Item</button>
            <br><br>
            <button type="button" onclick="window.location.href='/add_gear'">Add Gear Item</button>
            <br><br>
            <button type="button" onclick="window.location.href='/edit_gear'">Edit Gear Item</button>
            <br><br>
            <button type="button" onclick="window.location.href='/view_gear'">View Gear Items</button>
            <br><br>
            <button type="button" onclick="window.location.href='/search_gear'">Search Gear</button>
            <br><br>
            <button type="button" onclick="window.location.href='/delete_gear'">Delete Gear</button>
            <br><br>
            <button type="button" onclick="window.location.href='/checkout_gear'">Check Out Gear</button>
        </form>
    </body>
</html>