<html>
    <head>
        <title>View Gear Items</title>
    </head>
    <body>
        <h1>View Gear Items</h1>

       <button type="button" onclick="window.location='/dashboard'">Back to Home</button>
        <br><br>

        {% if not gearItems %}
            <p>No gear items found yet.</p>
        {% else %}
            {% for class_name, items in gearItems.items() %}
                <h2>{{ class_name }}</h2>

                {% if items %}
                    <table border="1" cellpadding="4" cellspacing="0">
                        <tr>
                            {% for key in items[0].keys() %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        {% for item in items %}
                            <tr>
                                {% for value in item.values() %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No items for this class yet.</p>
                {% endif %}
                <br>
            {% endfor %}
        {% endif %}
    </body>
</html>
